<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abdsoft.med_dose">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>


    <application
        android:allowBackup="true"

        android:label="@string/app_name">


        <activity
            android:name=".AlarmActivity"
            android:excludeFromRecents="true"
            android:showOnLockScreen="true"
            android:exported="true"
            android:turnScreenOn="true"
            android:showWhenLocked="true"/>
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home"/>
        <activity android:name=".MainActivity"
            android:exported="true">

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <receiver android:name=".ui.home.AlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":remote"/>
    </application>

</manifest>